<mat-card>
    <h1>Actualizar ciudad</h1>
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <form *ngIf = "ciudad" (submit) = "actualizarDatos()">
          <mat-form-field class="w100" appearance="fill">
            <mat-label>Aeropuerto</mat-label>
            <input
            [(ngModel)] = "ciudad.aeropuerto"
            type="text"
            name="aeropuerto"
            placeholder="Digite el nombre del aeropuerto"
            required
            matInput>
          </mat-form-field>
          <mat-form-field class="w100" appearance="fill">
            <mat-label>Destino</mat-label>
            <input
            [(ngModel)] = "ciudad.estado"
            type="text"
            name="estado"
            placeholder="Digite el nombre del destino"
            matInput>
          </mat-form-field>
        <mat-form-field class="w100" appearance="outline">
          <mat-label>Fecha</mat-label>
          <input
          required
          autofocus
          type="date"
          name="fecha"
          matInput
          placeholder="Selecciona la fecha"
          [(ngModel)] = "ciudad.fecha"
          >
        </mat-form-field>
        <mat-form-field class="w100" appearance="outline">
          <mat-label>Pasajeros</mat-label>
          <input
          required
          autofocus
          type="number"
          name="pasajeros"
          matInput
          placeholder="Selecciona los pasajeros"
          [(ngModel)] = "ciudad.pasajeros"
          >
        </mat-form-field>
        <mat-form-field class="w100" appearance="outline">
          <mat-label>Tipo de vuelo</mat-label>
          <input
          required
          autofocus
          type="text"
          name="tipo_vuelo"
          matInput
          placeholder="Seleccione el tipo de vuelo"
          [(ngModel)] = "ciudad.tipo_vuelo"
          >
        </mat-form-field>
          <div class="container text-center">
            <button mat-raised-button color="primary">Guardar</button>
          </div>
        </form>
      </div>
    </div>
  </mat-card>
  
  